
<div class="container" [hidden]="route.children.length !== 0">
    
    <div class="column" [hidden]="route.children.length !== 0">
        <h2 class="center">Ver lista de vehículos</h2>
    </div>


<div [hidden]="route.children.length !== 0">
    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
    </div>

    <table mat-table class="mat-elevation-z8" [dataSource]="userList" matSort>
        <ng-container matColumnDef="nombre">
            <th id="nombre" mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="apellido">
            <th id="apellido" mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
            <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
        </ng-container>

        <ng-container matColumnDef="nick">
            <th id="nick" mat-header-cell *matHeaderCellDef mat-sort-header>Nick</th>
            <td mat-cell *matCellDef="let element">{{element.nick}}</td>
        </ng-container>

        <ng-container matColumnDef="documento">
            <th id="documento" mat-header-cell *matHeaderCellDef mat-sort-header>Documento</th>
            <td mat-cell *matCellDef="let element">{{element.documento}}</td>
        </ng-container>

        <ng-container matColumnDef="correo">
            <th id="correo" mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
            <td mat-cell *matCellDef="let element">{{element.correo}}</td>
        </ng-container>

        <ng-container matColumnDef="rol">
            <th id="rol" mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
            <td mat-cell *matCellDef="let element">{{element.rol.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="ciudad">
            <th id="ciudad" mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</th>
            <td mat-cell *matCellDef="let element">{{element.ciudad.departamento.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="ciudad2">
            <th id="ciudad2" mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
            <td mat-cell *matCellDef="let element">{{element.ciudad.nombre}}</td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="dataSource.totalElements"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="cambiarPag($event)"
                    showFirstLastButtons>
    </mat-paginator>
</div>

<button mat-fab  color="accent"
    style="float: right"
    [routerLink]="['registrarusuario']">
        <mat-icon>add_circle</mat-icon>
    </button>

</div>

        <router-outlet></router-outlet>
  
