<form [formGroup]="form" (ngSubmit)="editUser($event)" class="container">
    <h2 class="center">editar usuario</h2>
    <br>
    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Documento</mat-label>
        <input matInput [ngModel]="userInfo.documento" placeholder="numero" formControlName="documento" (input)="inputValidatorDoc($event)">
    </mat-form-field>
    <div *ngIf="form.get('documento').errors && form.get('documento').touched">
        <mat-error *ngIf="form.get('documento').hasError('required')">
            Es un campo requerido
        </mat-error>
        <mat-error *ngIf="form.get('documento').hasError('minlength')">
            El documento no cumple con la cantidad de dígitos mínimos
        </mat-error>
        <mat-error *ngIf="form.get('documento').hasError('maxlength')">
            El documento excede la cantidad de dígitos aceptados
        </mat-error>
    </div>
    <br>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput [ngModel]="userInfo.nombre" placeholder="minimo 3 caracteres" formControlName="nombre" (input)="inputValidator($event)">
    </mat-form-field>
    <div *ngIf="form.get('nombre').errors && form.get('nombre').touched">
        <mat-error *ngIf="form.get('nombre').hasError('required')">
            Es un campo requerido
        </mat-error>
        <mat-error *ngIf="form.get('nombre').hasError('minlength')">
            La longitud del nombre es muy corta
        </mat-error>
        <mat-error *ngIf="form.get('nombre').hasError('maxlength')">
            La longitud del nombre es muy extensa
        </mat-error>
    </div>

    <br>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput [ngModel]="userInfo.apellido" placeholder="" formControlName="apellido" (input)="inputValidator($event)">
    </mat-form-field>
    <div *ngIf="form.get('apellido').errors && form.get('apellido').touched">
        <mat-error *ngIf="form.get('apellido').hasError('required')">
            Es un campo requerido
        </mat-error>
        <mat-error *ngIf="form.get('apellido').hasError('minlength')">
            La longitud del nombre es muy corta
        </mat-error>
        <mat-error *ngIf="form.get('apellido').hasError('maxlength')">
            La longitud del nombre es muy extensa
        </mat-error>
    </div>

    <br>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Nickname</mat-label>
        <input matInput [ngModel]="userInfo.nick" placeholder="" formControlName="nick">
    </mat-form-field>
    <div *ngIf="form.get('nick').errors && form.get('nick').touched">
        <mat-error *ngIf="form.get('nick').hasError('required')">
            Es un campo requerido
        </mat-error>
        <mat-error *ngIf="form.get('nick').hasError('minlength')">
            La longitud del nickname es muy corta
        </mat-error>
        <mat-error *ngIf="form.get('nick').hasError('maxlength')">
            La longitud del nickname es muy extensa
        </mat-error>
    </div>

    <br>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Clave</mat-label>
        <input matInput type="password" formControlName="clave">
    </mat-form-field>
    <div *ngIf="form.get('clave').errors && form.get('clave').touched">
        <mat-error *ngIf="form.get('clave').hasError('required')">
            Es un campo requerido
        </mat-error>
    </div>

    <br>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Dirección</mat-label>
        <input matInput [ngModel]="userInfo.direccion" placeholder="" formControlName="direccion">
    </mat-form-field>
    <div *ngIf="form.get('direccion').errors && form.get('direccion').touched">
        <mat-error *ngIf="form.get('direccion').hasError('required')">
            Es un campo requerido
        </mat-error>
        <mat-error *ngIf="form.get('direccion').hasError('minlength')">
            La longitud del nickname es muy corta
        </mat-error>
        <mat-error *ngIf="form.get('direccion').hasError('maxlength')">
            La longitud del nickname es muy extensa
        </mat-error>
    </div>

    <br>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Celular</mat-label>
        <input matInput [ngModel]="userInfo.celular" placeholder="" formControlName="celular" (input)="inputValidatorDoc($event)">
    </mat-form-field>
    <div *ngIf="form.get('celular').errors && form.get('celular').touched">
        <mat-error *ngIf="form.get('celular').hasError('required')">
            Es un campo requerido
        </mat-error>
        <mat-error *ngIf="form.get('celular').hasError('minlength')">
            La longitud del nickname es muy corta
        </mat-error>
        <mat-error *ngIf="form.get('celular').hasError('maxlength')">
            La longitud del nickname es muy extensa
        </mat-error>
    </div>

    <br>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Celular auxiliar - opcional</mat-label>
        <input matInput [ngModel]="userInfo.celularAux" placeholder="" formControlName="celularAux" (input)="inputValidatorDoc($event)">
    </mat-form-field>
    <div *ngIf="form.get('celularAux').errors && form.get('celularAux').touched">
        <mat-error *ngIf="form.get('celularAux').hasError('minlength')">
            La longitud del nickname es muy corta
        </mat-error>
        <mat-error *ngIf="form.get('celularAux').hasError('maxlength')">
            La longitud del nickname es muy extensa
        </mat-error>
    </div>

    <br>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Correo</mat-label>
        <input matInput [ngModel]="userInfo.correo" placeholder="" formControlName="correo">
    </mat-form-field>
    <div *ngIf="form.get('correo').errors && form.get('correo').touched">
        <mat-error *ngIf="form.get('correo').hasError('required')">
            Es un campo requerido
        </mat-error>
        <mat-error *ngIf="form.get('correo').hasError('minlength')">
            La longitud del nickname es muy corta
        </mat-error>
        <mat-error *ngIf="form.get('correo').hasError('maxlength')">
            La longitud del nickname es muy extensa
        </mat-error>
    </div>

    <br>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Departamento</mat-label>
                    <mat-select [(value)]="deptSelected" formControlName="departamento" (selectionChange)="loadCities($event.value)">
                        <mat-option [value]="dept.idDepartamento" *ngFor="let dept of this.deptList">
                            {{dept.idDepartamento}}. {{dept.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="form.get('departamento').errors && form.get('departamento').touched">
                    <mat-error *ngIf="form.get('departamento').hasError('required')">
                        Debe elegir un departamento
                    </mat-error>
                </div>
            </td>

            <td>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Ciudad</mat-label>
                    <mat-select [(value)]="citySelected" formControlName="ciudad">
                        <mat-option [value]="city.idCiudad" *ngFor="let city of this.cityList">
                            {{city.idCiudad}}. {{city.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="form.get('ciudad').errors && form.get('ciudad').touched">
                    <mat-error *ngIf="form.get('ciudad').hasError('required')">
                        Debe elegir una ciudad
                    </mat-error>
                </div>
            </td>
        </tr>
    </table>

    <button mat-fab color="accent" style="float: right" type="submit" [disabled]="form.invalid">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-fab color="accent" style="float: right" [routerLink]="['/usuario']">
        <mat-icon>backup_table</mat-icon>
    </button>
</form>




