<div [hidden]="route.children.length !== 0">

   

    <br>

        <div class="column">
            <ng-container *ngIf="this.login.estaLogueado() && this.login.rolType() == 'Administrador'">
                <mat-card class="example-card">
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>sesion como administrador</mat-card-title>
                        
                    </mat-card-header>
                    
                    <mat-card-content>
                        <div class="center frame">
                            <img style="margin-top: 40px;" class="img" src="https://thumbs.dreamstime.com/b/admin-icon-trendy-design-style-isolated-white-background-vector-simple-modern-flat-symbol-web-site-mobile-logo-app-135742404.jpg" alt="pickup img">
                        </div>
                    </mat-card-content>
                    <mat-card-actions class="center">
                        <button mat-raised-button (click)="onLogout()" routerLink="/login">Cerrar sesion</button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>


            <ng-container *ngIf="this.login.estaLogueado() && this.login.rolType() == 'Conductor'">
                <mat-card class="example-card">
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>sesion como conductor</mat-card-title>
                        
                    </mat-card-header>
                    
                    <mat-card-content>
                        <div class="center frame">
                            <img style="margin-top: 40px;" class="img" src="assets/user_management.png" alt="pickup img">
                        </div>
                    </mat-card-content>
                    <mat-card-actions class="center">
                        <button mat-raised-button (click)="onLogout()" routerLink="/login">Cerrar sesion</button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>

        </div>
    </div>

